@page "/categorypage"

@using HospitalsBlz.Data
@using HospitalsBlz.Models

@inject ApplicationDbContext db


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><h4>Список категорий </h4></div>
    <div class="col-md-4"></div>
</div>

<button class="btn btn-success" @onclick="AddNewUser">Добавить новый</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Примечание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in categories)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Desc</td>
            <td>
                <!-- Edit the current forecast -->
                <button class="btn btn-primary"
                        @onclick="(() => EditUser(item))">
                    Редактировать
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>


@if (ShowPopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Редактирование</h3>
                    <button type="button" class="close"
                            @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span style="color:red">@strError</span>
                    <table class="table">
                        <tr>
                            <td>Наименование</td>
                            <td><input type="text" class="form-control" @bind="@category.Name" /></td>
                        </tr>
                        <tr>
                            <td>Примечание</td>
                            <td><input type="text" class="form-control" @bind="@category.Desc" /></td>
                        </tr>
                        <tr>
                            <td>
                                @if (category.Id != 0)
                                {
                                    <!-- Button to delete the forecast -->
                                    <button class="btn btn-danger" @onclick="DeleteUser">
                                        Удалить
                                    </button>
                                }
                            </td>
                            <td>
                                <button class="btn btn-primary" @onclick="SaveUser">
                                    Сохранить
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
}


@code {

    private List<Category> categories;
    private Category category = new Category();

    string strError = "";
    bool ShowPopup = false;



    void AddNewUser()
    {
        category = new Category();
        category.Id = 0;
        ShowPopup = true;
    }
    async Task SaveUser()
    {
        try
        {
            // Is this an existing user?
            if (category.Id != 0)
            {
                // Get the user
                Category pos = await db.Categories.FindAsync(category.Id);
                pos.Name = category.Name;
                await db.SaveChangesAsync();
            }
            else
            {
                db.Categories.Add(category);
                await db.SaveChangesAsync();
            }

            // Close the Popup
            ShowPopup = false;
            // Refresh Users
            LoadData();
            category = new Category();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }
    async Task EditUser(Category rc)
    {
        category = rc;
        //products = db.Products.Where(x => x.CategoryId == ).ToList();
        ShowPopup = true;
    }
    async Task DeleteUser()
    {
        // Close the Popup
        ShowPopup = false;
        // Get the user
        var rc = await db.Categories.FindAsync(category.Id);
        if (rc != null)
        {
            db.Categories.Remove(rc);
            await db.SaveChangesAsync();
        }
        LoadData();
    }
    void ClosePopup()
    {
        // Close the Popup
        ShowPopup = false;
    }


    protected override async Task OnInitializedAsync()
    {
        LoadData();
    }

    public void LoadData()
    {
        categories = db.Categories.ToList();
    }
}
